@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* Shared styles */
.primary-btn{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
outline: none;
border: none;
padding: 0 5%;
}
/* Header styles */

header{
    padding: 5% 8%;
}

nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    display: flex;
    justify-content: space-between;
}
.nav-title h2{
    color: #131318;
font-size: 36px;
font-weight: 800;
margin-left: 10px;
}
.bee{
color: #FF5400;
font-size: 36px;
font-weight: 800;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
    color:  #424247;
text-align: center;
font-size: 18px;
font-weight: 400;

}
.active{
    color: #FF5400;
font-weight: 700;
}
.bar{
    display: none;
}
/* Banner styles */
.banner{
    margin-top: 5%;
    background-image: linear-gradient(to bottom, rgba(0, 0,0, .4), rgba(0, 0, 0, 0.427)), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-description{
    width: 70%;
     text-align: center;
    
}
.ban-title{
color: #FFF;
font-size: 64px;
font-weight: 800;
}
.ban-para{
    color: #FFF;
text-align: center;
font-size: 16px;
margin: 7% 0;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.input1{
    width: 100%;
     display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px ;
    
   
}
.input1>input{
border-radius: 8px;
background: #FFF;
padding: 3%;
outline: none;
border: none;

}
option{
color: #FFF;
font-size: 16px;
font-weight: 400;
text-align: left;
}
#select1{
border-radius: 8px;
background: #FFF;
padding: 2% 9%;

}
#select2{
    border-radius: 8px;
background: #FFF;
padding: 3% 7%;


}
/* Popular tour styles */
main{
    padding: 5% 8%;
}

.popular{
    display: flex;
    justify-content: space-between;
}
.popular-des{
    width: 45%;
}
.popular-img{
    width: 45%;
}
.popular-img img{
    width: 100%;
}
.popular-des h2{
    color: #131318;
text-align: left;
font-size: 40px;
font-weight: 800;
margin: 4% 0;
}
.popular-des p, .popular-des ul li{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 4% 0;
}
.popular-des button{
    margin-top: 3%;
    padding: 3% 7%;
}
/* Destination styles */
.destination{
    margin-top: 8%;
}
.des-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.destination-des p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 2% 0;
}
.destination-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "div1 div1 div1 div1 div1 div1 div2 div2 div2 div2 div2 div2"
                        "div3 div3 div3 div3 div4 div4 div4 div4 div4 div5 div5 div5"
                        "div6 div6 div6 div6 div6 div7 div7 div7 div7 div7 div7 div7";
    gap: 20px;
}
.div1{
    background-image: url('./Images/Rectangle\ 5.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div1;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.div4{
    background-image: url('./Images/Rectangle\ 7.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div4;
display: flex;
justify-content: center;
align-items: center;
}
.div2{
    background-image: url('./Images/Rectangle\ 8.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
height: 50vh;
grid-area: div2;
display: flex;
justify-content: center;
align-items: center;
}
.div5{
    background-image: url('./Images/Rectangle\ 9.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div5;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
}
.div3{
    background-image: url('./Images/Rectangle\ 6.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div3;
display: flex;
justify-content: center;
align-items: center;
}
.div6{
    background-image: url('./Images/Rectangle\ 11.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div6;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
}
.div7{
    background-image: url('./Images/Rectangle\ 10.png');
    border-radius: 16px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
background-repeat: no-repeat;
background-size: cover;
grid-area: div7;
display: flex;
justify-content: center;
align-items: center;
}

/* Choice section styles */
.choice{
    margin-top: 5%;
}
.destination-des p{
    width: 50%;
    margin: 3% auto;
}
.card-wrap{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2"
                        ". . . card3 card3 card3 card3 card3 card3 . . .";
    gap:30px
}
.card-wrap img{
    margin-bottom: 4%;
}
.card-title{
    color: #131318;
font-size: 24px;
font-weight: 800;

}
.card-des{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 4% 0;
}
.card1{
    text-align: left;
    padding: 5%;
    border-radius: 16px;
   border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  grid-area: card1;
}
.card2{
    text-align: left;
    padding: 5%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
 
  grid-area: card2;
}
.card3{
    text-align: left;
    padding: 5%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
  grid-area: card3;
}

/* Deal styles */
.deal{
    margin-top: 5%;
}
.img-card1{
    background-image: url('./Images/Group\ 39.png');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    padding: 10% 5%;
}
.img-card2{
    background-image: url('./Images/Group\ 40.png');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    padding: 10% 5%;

}
.card{
    width: 50%;
    height: 50vh;
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
    padding: 6%;
}
.icon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   margin-bottom: 3%;
   width: 90%;
}
.icon2{
    display: flex;
    justify-content: space-between;
}
.icon img{
   margin: -5px 2px;
}
.icon2 img{
    margin: -5px 10px;
}
.card-text h3{
    color: #131318;
font-size: 24px;
font-weight: 800;
margin-bottom: 3%;
}
.card-text p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 3%;
}
.card-text h4{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.card-text button{
    margin-top: 3%;
    padding: 3% 5%;
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
}
/* perfect place styles */
.perfect{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.perfect-des{
    width: 40%;
}
.perfect-des ul li{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

.perfect-img{
    background-image: url('./Images/Group\ 40089.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 16px;
}
.description1{
    transform: translateY(100%);
}
.icon3 i,.icon3 p,.icon4 i ,.icon4 p{
    color: #F3F3F3;
}
.icon3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-left: -70%;
}
.icon4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-right: -430%;
}
.icon-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 250%;
    transform: translateY(150%);
}
.description1{
    width: 50%;
}
.description1 h3{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 36px; /* 150% */
}
.bottom{
    margin-top: 25%;
    width: 170%;
    height: 4px;
    background-color: #F3F3F3;
    margin-left: 130%;
    
}

/* Newsletter styles */
.newsletter{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.newsletter-des{
    width: 40%;
    padding: 2%;
    border: 1px solid #FF5400;
    border-radius: 16px;
    height: 61vh;

}
.newsletter-des h3{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.newsletter-des p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 5% 0;
width: 75%;
}
.newsletter-des form{
    border-top: 1px solid #c8c8c9;
}
.newsletter-des form input{
    width: 100%;
    display: block;
    margin: 5% 0;
    padding: 5%;
    border-radius: 8px;
    background-color: rgb(253, 250, 250);
    outline: none;
    border: none;
}
#Subscribe{
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
background-color: #FF5400;
}
.news-img{
    width: 55%;
    height: 100%;
   
}
.news-img img{
    width: 100%;
}
.news{
    width:40%;
    float: right;
    transform: rotate(-30deg) translate(30%, -150%);
    padding: 4%;
}
/* Responsive design */

/* Mobile devices */
@media screen and (max-width:600px) {
    header{
        padding: 5%;
    }

    nav{
        align-items: center;
    }


    nav ul{
        display: none;
    }
    .banner{
       height: 68vh;
    }
    .banner-description{
        width: 80%;
    }
    .bar{
        display: block;
    }
    .ban-title{
        font-size: 22px;
        font-weight: 800;
        }
    .ban-para{
    font-size: 14px;
font-weight: 400;
line-height: 21px; 
    }
    .input1,.popular{
        flex-direction: column;
        gap: 20px;
    }
    .input1>input, #select1, #select2,.primary-btn{
        padding: 7%;
    }
    .popular-des{
        width: 100%;
    }
    .popular-img{
        width: 100%;
    }
    .popular-des h2{
        font-size: 20px;
    }
    .popular-des p, ul li,.card-text p{
        font-size: 14px;
    }
    .destination-img{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "div1"
                            "div2"
                            "div3"
                            "div4"
                            "div5"
                            "div6"
                            "div7";
                            
        gap: 20px;
    }
    .destination-img div{
        height:35vh;
        background-position: center;
    }
    .des-title,.card-text h3{
font-size: 20px;
font-weight: 800;
    }
    .destination-des p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .destination-des p{
        width: 100%;
    }
     
    .card-wrap{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "card1"
                            "card2"
                            "card3";
        gap:30px
    }
    .img-card1, .img-card2{
        height: 70vh;
        background-size: cover;
        background-position: center center;
        justify-content: center;
        align-items: center;
        padding: 0 2%;
        padding-top: 30%;
        margin-bottom: 5%;
        border-radius: 16px;
    }
    .card{
        width: 95%;
        height: 50vh;
        border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
        padding: 3%;
    }
    .card-text h4{
        font-size: 16px;
    }
    .card-text p,.news h2{
        font-size: 17px;
    }
    .icon{
        flex-direction: column;
        gap: 20px;
    }
    .icon2{
        display: flex;
        justify-content:flex-start ;
        flex-wrap: wrap;
        margin-bottom: 5%;
    
    }
    .card-text button{
        margin-top: 3%;
    }
    .perfect{
        flex-direction: column;
        gap: 20px;
    }
    .perfect-img{
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }
   .description1 h3{
    font-size: 20px;
   }
   .icon3{
    gap: 10px;
    font-size: 10px;
    margin-left: -50%;
    margin-top: -10%;
}
.icon4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    margin-right: -270%;
    margin-top: -15%;
}
.description1{
    transform: translateY(10%);
}
.icon-wrap{
    display: flex;
    justify-content: space-between;
    
    width: 250%;
}
.bottom{
    margin-top: 10%;
    width: 170%;
    height: 4px;
    background-color: #F3F3F3;
    margin-left: 10%;
    
}
.newsletter{
    flex-direction: column;
    gap: 20px;
}
.newsletter-des{
    width: 100%;
    padding: 2%;
    border-radius: 16px;
    height: 50vh;

}
.news-img{
    width: 100%;
    height: 100%;
   
}
.news-img img{
    width: 100%;
}
.news p {
    font-size: 14px;
}
.news{
    width:50%;
    float: right;
    transform: rotate(-30deg) translate(28%, -150%);
    padding: 4%;
}
}



















@media screen and (max-width:400px){
    .bottom{
        margin-top: 5%;
        width: 170%;
        height: 4px;
        background-color: #F3F3F3;
        margin-left: 20%;
       
        
    }
}